
<div class="row gutter-xs">
    <div class="card">
        <div class="card-header">
            <a href="/Admin_AddBankAccount" class="btn btn-primary">Add Bank Account</a>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-striped table-condensed" id="datatable-for-bankaccount">
                <thead>
                    <tr>
                        <th>S. No</th>
                        <th>Bank Name</th>
                        <th>Account Number</th>
                        <th>IFSC Code</th>
                        <th>Type Of Account</th>
                        <th>Closing Balance(₹)</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <% count=0;
                        bankAccount.forEach(data=>{
                            count++;
                        %>
                        <tr>
                            <td><%= (count<10)? '0'+count : count %></td>
                            <td><%= data.BankName %></td>
                            <td><%= data.AccountNumber %></td>
                            <td><%= data.IFSC_CODE %></td>
                            <td><%= data.AccountType %></td>
                            <td><%= data.OpeningBalance %></td>
                            <td><div class="btn-group">
                                <% if(data.IsActive){ %>
                                <p class="badge badge-success"><i class="icon icon-check"></i> Active</p>
                                <% }else{ %>
                                <p class="badge badge-danger"><i class="icon icon-times"></i> InActive</p>
                                <% } %>
                              </div></td>
                        </tr>
                        <%    }  )%>
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">$('#datatable-for-bankaccount').DataTable({});</script>
<script type="text/javascript" src="custom/manage.js"></script>