
<div class="row gutter-xs">
    <div class="card">
        <div class="card-header">
            <a href="/Admin_AddAccount" class="btn btn-primary">Add Account</a>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-striped table-condensed" id="datatable-for-myaccount">
                <thead>
                    <tr>
                        <th>S. No</th>
                        <th>Category Name</th>
                        <th>Account Name</th>
                        <th>Closing Balance(₹)</th>
                        <th>Default Account</th>
                        <th>Account Status</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                        <% count=0;
                        accountData.forEach(data=>{
                            count++;
                        %>
                        <tr>
                            <td><%= (count<10)? '0'+count : count %></td>
                            <td><%= data.Category %></td>
                            <td><%= data.AccountName %></td>
                            <td><%= data.OpeningBalance %></td>
                            <td><%= data.DefaultAccount %></td>
                            <td><%= data.IsActive %></td>
                            <td><div class="btn-group">
                                <% if(data.IsActive){ %>
                                <p class="badge badge-success"><i class="icon icon-check"></i> Active</p>
                                <% }else{ %>
                                <p class="badge badge-danger"><i class="icon icon-times"></i> InActive</p>
                                <% } %>
                              </div></td>
                        </tr>
                        <%    }  )%>
                    </tbody>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">$('#datatable-for-myaccount').DataTable({});</script>
<script type="text/javascript" src="custom/managebranch.js"></script>